body.paginapr {
    background-image: url('../IMAGENES/depositphotos_124824752-stock-illustration-abstract-red-frame-with-steel.jpg');
    background-size: 100%;
}

h1 {
    color: aliceblue;
    font-size: 350%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #76050dd6;
    padding: 1.5%;
    margin: 0%;
}

a {
    text-decoration: none;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#menu {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}

#menu li {
    width:100px;
    text-align: center;
    text-decoration: none;
    background-color: #76050dd6;
    padding: 3%, 5%;
    border-right:3px solid blue;
    display: block;

}

#menu li {
float: left;
}

#menu a:hover {
background-color: #76050dd6;
}
.parrafo-uno {
    font-size: 240;
    color: azure;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

a.sub-parrafouno {
    color: beige;
}

.sub-parrafouno {
    color: aliceblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.datoc {
    font-size: 190%;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.datocur {
    color: azure;
    font-size: 130%;
    margin: 4%;
}

img {
    float: right;
    margin: 2%;
}