body.paginapr {
    background-image: url('../IMAGENES/depositphotos_124824752-stock-illustration-abstract-red-frame-with-steel.jpg');
    background-size: 100%;
}

h1 {
    color: aliceblue;
    font-size: 350%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #0b012b;
    padding: 0%;
}

div.menu ul {
    margin-top: 5%;
    background-color: #0b012b;
    position: relative;
    list-style: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    text-align: center;
}

nav>ul>li {
    float: left;
}

div.menu ul li a {
    color: azure;
    display: block;
    padding: 10% 20%;
}

a {
    text-decoration: none;
}

div.menu ul li a:hover {
    background-color: #13024a;
}

div.submenu ul li:hover div.submenu {
    display: table;
}

div.menu ul li div.submenu {
    width: 1000%;
    position: absolute;
    left: 0%;
    background-color: blue;
    box-sizing: border-box;
    display: none;
}



.parrafo-uno {
    font-size: 240;
    color: azure;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.sub-parrafouno {
    color: aliceblue;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}